@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(0px, -80px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(0px, -80px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(0px, -80px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(0px, -80px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.error {
  color: #f00;
  font-size: 2em;
}
.error_size_l {
  font-size: 3em;
}
.error_size_s {
  font-size: 1em;
}
.map-wrap {
  overflow: scroll;
}
.map-wrap_invisible {
  opacity: 0;
}
.map-wrap_visible {
  animation: fadeInDown ease-in 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}
.map {
  width: 1300px;
}
.page {
  font-family: Myriad Set Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
