@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -80px);
    transform: translate(0px, -80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -80px);
    transform: translate(0px, -80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 32px;
  box-shadow: 0 3px 4px 1px rgba(0,0,0,0.15);
  transition: box-shadow ease 0.18s;
}
.button:hover {
  box-shadow: 0 3px 4px 1px rgba(0,0,0,0.5);
}
.control {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.control__button {
  background: rgba(255,255,255,0.9);
  margin-bottom: 8px;
}
.control__item {
  width: 26px;
  height: 26px;
  display: block;
  cursor: pointer;
  padding: 6px;
}
.control__item_in {
  background: url("data:image/svg+xml,%3Csvg width%3D%2226%22 height%3D%2226%22 viewBox%3D%220 0 26 26%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg fill%3D%22none%22 fill-rule%3D%22evenodd%22%3E%3Cg%3E%3Cg fill%3D%22%234D4D4D%22%3E%3Cpath d%3D%22M12 12V3.996c0-.548.448-.996 1-.996.556 0 1 .444 1 .992V12h8.008c.537 0 .992.448.992 1 0 .556-.444 1-.992 1H14v8.008c0 .537-.448.992-1 .992-.556 0-1-.446-1-.996V14H3.992C3.455 14 3 13.552 3 13c0-.556.444-1 .992-1H12z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") center center no-repeat;
}
.control__item_out {
  background: url("data:image/svg+xml,%3Csvg width%3D%2226%22 height%3D%2226%22 viewBox%3D%220 0 26 26%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg fill%3D%22none%22 fill-rule%3D%22evenodd%22%3E%3Cg%3E%3Cg fill%3D%22%234D4D4D%22%3E%3Cpath d%3D%22M23 13c0-.552-.455-1-.992-1H3.992C3.444 12 3 12.444 3 13c0 .552.455 1 .992 1h18.016c.548 0 .992-.444.992-1z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") center center no-repeat;
}
.error {
  color: #f00;
  font-size: 2em;
}
.error_size_l {
  font-size: 3em;
}
.error_size_s {
  font-size: 1em;
}
.header {
  position: absolute;
  margin-top: 20px;
  width: 100%;
}
.logo__view {
  font-size: 3em;
  margin: 0 0 0 16px;
  padding: 0;
  font-weight: 400;
}
.map-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}
.map-wrap_invisible {
  opacity: 0;
}
.map-wrap_visible {
  -webkit-animation: fadeInDown ease-in 0.5s;
  animation: fadeInDown ease-in 0.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.map {
  width: 1300px;
  transition: width ease 0.3s;
}
.page {
  font-family: Myriad Set Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
